<!-- BEGIN: CONTENT/MISC/ABOUT-1 -->
<div class="c-content-box c-size-md c-bg-grey-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow  fadeInLeft animated"
                 style="visibility: visible; animation-name: fadeInLeft; opacity: 1;">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">About us</h3>
                    <div class="c-line-left c-theme-bg"></div>
                </div>
                <!-- End-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud
                    exerci et tation diam nisl ut aliquip
                    ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam. </p>
                <ul class="c-content-list-1 c-theme  c-font-uppercase">
                    <li>Perfect Design interface</li>
                    <li>Huge Community</li>
                    <li>Support for Everyone</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod
                    tincidunt ut laoreet dolore.</p>
            </div>
            <div class="col-sm-6 wow  fadeInRight animated"
                 style="visibility: visible; animation-name: fadeInRight; opacity: 1;">
                <div class="c-content-client-logos-1">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold">Our Clients</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <div class="c-logos">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                                <a href="#">
                                    {% img client-logos/client1.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 c-logo c-logo-2">
                                <a href="#">
                                    {% img client-logos/client2.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 c-logo c-logo-3">
                                <a href="#">
                                    {% img client-logos/client3.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 c-logo c-logo-4">
                                <a href="#">
                                    {% img client-logos/client4.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 c-logo c-logo-5">
                                <a href="#">
                                    {% img client-logos/client5.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 c-logo c-logo-6">
                                <a href="#">
                                    {% img client-logos/client6.jpg class:"c-img-pos"%}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/ABOUT-1 -->