<!-- BEGIN: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
<div class="c-content-box c-size-md c-bg-grey-1">
    <div class="container">
        <div class="c-content-title-1">
            <h3 class="c-center c-font-uppercase c-font-bold">Latest Portfolio</h3>
            <div class="c-line-center c-theme-bg"></div>
            <p class="c-center c-font-uppercase">Showcasing your latest designs, sketches, photographs or
                videos.</p>
        </div>
        <div class="cbp-panel">
            <!-- SEE: components.js:ContentCubeLatestPortfolio -->
            <div class="c-content-latest-works cbp cbp-l-grid-masonry-projects wow animate fadeInLeft">
                <div class="cbp-item graphic">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/08-long.jpg' | relative_url}}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=1"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/08-lon' | relative_url }}jpg %}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="Dashboard<br>by Paul Flavius Nechita">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item web-design logos wow animate fadeInLeft">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/07.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=2"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/07.jpg' | relative_url }}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="World Clock Widget<br>by Paul Flavius Nechita">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item graphic logos wow animate fadeInLeft" data-wow-delay="0.2s">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/09.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=3"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="http://vimeo.com/14912890"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item identity web-design wow animate fadeInLeft" data-wow-delay="0.4s">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/014.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=4"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/014.jp' | relative_url }}%}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="WhereTO App<br>by Tiberiu Neamu">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item web-design graphic wow animate fadeInLeft">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/34.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=5"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/34.jpg' | relative_url }}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="Events and  More<br>by Tiberiu Neamu">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item identity web-design wow animate fadeInLeft" data-wow-delay="0.2s">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/53.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=6"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/53.jpg' | relative_url }}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="Ski * Buddy<br>by Tiberiu Neamu">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-item graphic logos wow animate fadeInLeft" data-wow-delay="0.4s">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{'/images/stock/39.jpg' | relative_url}}">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="c-masonry-border"></div>
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="projects?project=7"
                                       class="cbp-singlePage cbp-l-caption-buttonLeft btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">explore</a>
                                    <a href="{{'images/stock/39.jpg' | relative_url }}"
                                       class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase"
                                       data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->