<header class="c-layout-header c-layout-header-onepage c-layout-header-4 c-bordered c-layout-header-default-mobile" id="home" data-minimize-offset="40">
  <div class="c-navbar">
    <div class="container-fluid">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        <div class="c-brand c-pull-left">
          <a href="/" class="c-logo">
            <img class="c-desktop-logo" src="{{'/images/logo-3.png' | relative_url}}" alt="MADICORP">
            <img class="c-desktop-logo-inserse" src="{{'/images/logo-1.png' | relative_url}}" alt="MADICORP">
            <img class="c-mobile-logo" src="{{'/images/logo-3.png' | relative_url}}" alt="MADICORP">
          </a>
          <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
          </button>
        </div>
        <!-- END: BRAND -->
        <!-- BEGIN: HOR NAV -->
        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
        <!-- BEGIN: MEGA MENU -->
        <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
          <ul class="nav navbar-nav c-theme-nav">
            <li class="c-onepage-link c-active active">
              <a href="#home" class="c-link">Accueil</a>
            </li>
            <li class="c-onepage-link ">
              <a href="#about" class="c-link">A propos</a>
            </li>
            <li class="c-onepage-link ">
              <a href="#services" class="c-link">Services</a>
            </li>
            <li class="c-onepage-link ">
              <a href="#solutions" class="c-link">Solutions</a>
            </li>
            <li class="c-onepage-link ">
              <a href="#portfolio" class="c-link">Réalisations</a>
            </li>
            <li class="c-onepage-link ">
              <a href="/blog" class="c-link">Blog</a>
            </li>
            <li class="c-onepage-link ">
              <a href="#contact" class="c-link">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- END: MEGA MENU -->
        <!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
        <!-- END: HOR NAV -->
      </div>
    </div>
  </div>
</header>