<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-5 -->
<section class="c-layout-revo-slider c-layout-revo-slider-5" dir="ltr">
    <div class="tp-banner-container c-arrow-dark">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <!--BEGIN: SLIDE #1 -->
                <li class="c-bg-white" data-transition="fade" data-slotamount="2" data-masterspeed="1000">
                    <img src="#" alt="" data-lazyload="{{ '/images/slider/blank.png' | relative_url }}">
                    <!--BEGIN: MAIN TITLE -->
                    <div class="tp-caption sft tp-resizeme customin customout start" data-x="center" data-y="top" data-voffset="40" data-speed="600" data-start="1000" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-42 c-font-center c-font-dark c-font-sbold c-font-uppercase c-reset"> The Ever Growing Multipurpose Theme </h3>
                    </div>
                    <!--END -->
                    <!--BEGIN: MAIN DEVICE -->
                    <div class="tp-caption lfb customin customout tp-resizeme" data-x="center" data-y="bottom" data-speed="600" data-start="500" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:700;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 5;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/mac.png' | relative_url }}"> </div>
                    <!--END -->
                    <!--BEGIN: BEAN 1 -->
                    <div class="tp-caption lfl customout tp-resizeme" data-x="center" data-hoffset="-245" data-y="bottom" data-voffset="245" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;" data-speed="300" data-start="1500" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/beam1.png' | relative_url }}"> </div>
                    <div class="tp-caption lfl customout tp-resizeme" data-x="center" data-hoffset="-380" data-y="bottom" data-voffset="255" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Power3.easeInOut;" data-speed="300" data-start="1500" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset c-font-right "> Extremely Responsive </h3>
                        <p class="c-font-15 c-font-blue-4 c-margin-t-8 c-font-right "> Lorem ipsum dolor
                            <br> consetuer adipicing
                            <br> sed diam ticidut </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: BEAN 2 -->
                    <div class="tp-caption lfl customout tp-resizeme" data-x="center" data-hoffset="-280" data-y="bottom" data-voffset="115" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Power3.easeInOut;" data-speed="300" data-start="2100" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/beam2.png' | relative_url }}"> </div>
                    <div class="tp-caption lft customout tp-resizeme" data-x="center" data-hoffset="-410" data-y="bottom" data-voffset="65" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Power3.easeInOut;" data-speed="300" data-start="2100" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset c-font-right "> Mobile Ready </h3>
                        <p class="c-font-15 c-font-blue-4 c-margin-t-8 c-font-right "> Lorem ipsum dolor
                            <br> consetuer adipicing </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: BEAN 3 -->
                    <div class="tp-caption lfr customout tp-resizeme" data-x="center" data-hoffset="260" data-y="bottom" data-voffset="320" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Power3.easeInOut;" data-speed="300" data-start="1800" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/beam3.png' | relative_url }}"> </div>
                    <div class="tp-caption lfr customout tp-resizeme" data-x="center" data-hoffset="400" data-y="bottom" data-voffset="295" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;" data-speed="300" data-start="1800" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset c-font-left "> Easy Navigation </h3>
                        <p class="c-font-15 c-font-blue-4 c-margin-t-8 c-font-left "> Lorem ipsum dolor
                            <br> consetuer adipicing
                            <br> sed diam ticidut </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: BEAN 4 -->
                    <div class="tp-caption lfr customout tp-resizeme" data-x="center" data-hoffset="280" data-y="bottom" data-voffset="65" data-basealign="slide" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;" data-speed="300" data-start="2400" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/beam4.png' | relative_url }}"> </div>
                    <div class="tp-caption lfr customout tp-resizeme" data-x="center" data-hoffset="413" data-y="bottom" data-voffset="112" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Power3.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Power3.easeInOut;" data-speed="300" data-start="2400" data-elementdelay="0.1" data-endelementdelay="0.1"
                         style="z-index: 2;">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset c-font-left "> Unlimited Features </h3>
                        <p class="c-font-15 c-font-blue-4 c-margin-t-8 c-font-left "> Lorem ipsum dolor
                            <br> consetuer adipicing </p>
                    </div>
                    <!--END -->
                </li>
                <!--END -->
                <!--BEGIN: SLIDE #2 -->
                <li class="c-bg-white" data-transition="fade" data-slotamount="2">
                    <img src="#" alt="" data-lazyload="{{ '/images/slider/blank.png' | relative_url }}">
                    <!--BEGIN: MAIN TITLE -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="left" data-hoffset="20" data-y="50" data-speed="500" data-start="500" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-42 c-font-center c-font-dark c-font-sbold c-font-uppercase c-reset"> Ultra Responsive Layouts </h3>
                    </div>
                    <!--END -->
                    <!--BEGIN: MAIN DEVICE -->
                    <div class="tp-caption lfb customout customin tp-resizeme" data-x="right" data-hoffset="20" data-y="bottom" data-speed="500" data-start="700" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 3;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/ipad.png' | relative_url }}"> </div>
                    <!--END -->
                    <!--BEGIN: CONTENT 1 -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="left" data-hoffset="20" data-y="150" data-speed="400" data-start="800" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 3;">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset "> Mobile Optimized </h3>
                        <p class="c-margin-t-8 c-font-15 "> Lorem ipsum dolor consetuer
                            <br> adipicing sed diam ticidut
                            <br> erat votpat dolore </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: CONTENT 2 -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="left" data-hoffset="250" data-y="150" data-speed="400" data-start="1200" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset "> Unlimited Layouts </h3>
                        <p class="c-margin-t-8 c-font-15 "> Lorem ipsum dolor consetuer
                            <br> adipicing sed diam ticidut
                            <br> erat votpat dolore </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: CONTENT 3 -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="left" data-hoffset="20" data-y="280" data-speed="400" data-start="1600" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset "> Ultra Responsive </h3>
                        <p class="c-margin-t-8 c-font-15 "> Lorem ipsum dolor consetuer
                            <br> adipicing sed diam ticidut
                            <br> erat votpat dolore </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: CONTENT 4 -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="left" data-hoffset="250" data-y="280" data-speed="400" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-uppercase c-font-15 c-font-sbold c-theme-font c-reset "> Awesome Support </h3>
                        <p class="c-margin-t-8 c-font-15 "> Lorem ipsum dolor consetuer
                            <br> adipicing sed diam ticidut
                            <br> erat votpat dolore </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: ACTION BUTTON -->
                    <div class="tp-caption sfb tp-resizeme randomrotate" data-x="left" data-hoffset="20" data-y="400" data-speed="400" data-start="2400" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;">
                        <a href="#" class="btn c-btn-dark btn-md c-btn-square c-btn-uppercase c-btn-border-2x c-btn-bold">Learn More</a>
                    </div>
                    <!--END -->
                </li>
                <!--END -->
                <!--BEGIN: SLIDE #3 -->
                <li class="c-bg-white" data-transition="fade" data-slotamount="2">
                    <img src="#" alt="" data-bgrepeat="no-repeat" data-bgfit="contain" data-bgposition="center center" data-lazyload="{{ '/images/slider/map.png' | relative_url }}">
                    <!--BEGIN: MAIN TITLE -->
                    <div class="tp-caption sft customin customout tp-resizeme" data-x="center" data-y="70" data-speed="600" data-start="500" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-font-42 c-font-center c-font-dark c-font-sbold c-font-uppercase c-reset"> What Our Customers Saying </h3>
                    </div>
                    <!--END -->
                    <!--BEGIN: CUSTOMER 1 -->
                    <div class="tp-caption customin customout skewfromtopshort  tp-resizeme" data-x="center" data-hoffset="-55" data-y="200" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/mapmarker.png' | relative_url }}"> </div>
                    <div class="tp-caption customin customout tp-resizeme" data-x="center" data-hoffset="65" data-y="200" data-speed="500" data-start="2500" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <h3 class="c-font-dark c-font-23 "> Stephen Hawking </h3>
                        <h6 class="c-font-uppercase c-font-sbold c-font-15 c-theme-font "> Scientist </h6>
                        <p class="c-font-blue-4 c-font-15 c-margin-t-8 "> Lorem ipsum dolor sit amet
                            <br> diam dolore consectetuer
                            <br> elit sed magna ipsum. </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: CUSTOMER 2 -->
                    <div class="tp-caption customin customout skewfromtopshort tp-resizeme" data-x="center" data-hoffset="-375" data-y="310" data-speed="500" data-start="1500" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/mapmarker.png' | relative_url }}"> </div>
                    <div class="tp-caption customin customout tp-resizeme" data-x="center" data-hoffset="-255" data-y="310" data-speed="500" data-start="3000" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <h3 class="c-font-dark c-font-23 "> Mark Otto </h3>
                        <h6 class="c-font-uppercase c-font-sbold c-font-15 c-theme-font "> Bootstrap Co-Founder </h6>
                        <p class="c-font-blue-4 c-font-15 c-margin-t-8 "> Lorem ipsum dolor sit amet
                            <br> diam dolore consectetuer
                            <br> elit sed magna ipsum. </p>
                    </div>
                    <!--END -->
                    <!--BEGIN: CUSTOMER 3 -->
                    <div class="tp-caption customin customout skewfromtopshort tp-resizeme" data-x="center" data-hoffset="255" data-y="310" data-speed="500" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <img src="#" alt="" data-lazyload="{{ '/images/slider/mapmarker.png' | relative_url }}"> </div>
                    <div class="tp-caption customin customout tp-resizeme" data-x="center" data-hoffset="375" data-y="310" data-speed="500" data-start="3500" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                         data-endspeed="600" style="z-index: 2;">
                        <h3 class="c-font-dark c-font-23 "> Yip Man </h3>
                        <h6 class="c-font-uppercase c-font-sbold c-font-15 c-theme-font "> Martial artist </h6>
                        <p class="c-font-blue-4 c-font-15 c-margin-t-8 "> Lorem ipsum dolor sit amet
                            <br> diam dolore consectetuer
                            <br> elit sed magna ipsum. </p>
                    </div>
                    <!--END -->
                </li>
                <!--END -->
            </ul>
        </div>
    </div>
</section>
<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-5 -->